# SETS

#### Q.1 Data: set_a = {"red", "blue", "green"}
#### Question: Add "yellow" to the list of available colors in set_a.
#### Hint: Use a method that inserts a new element.

In [10]:
set_a = {"red", "blue", "green"}
set_a.add("yellow")
print(set_a)

{'yellow', 'red', 'green', 'blue'}

#### Q.2 Data: x = {"a", "b", "c"}, y = {"b", "c", "d"}
#### Question: Create a new set with all elements from both x and y.
#### Hint: Use the method that unifies two sets.

In [17]:
x = {"a", "b", "c"}
y = {"b", "c", "d"}
x.union(y)

{'a', 'b', 'c', 'd'}

#### Q.3Data: x = {"a", "b", "c"}, y = {"b", "c", "d"}
#### Question: Find elements that are only in x, not in y.
#### Hint: Think difference, not overlap.

In [23]:
x = {"a", "b", "c"} 
y = {"b", "c", "d"}
x.difference(y)

{'a'}

#### Q.4 Data: s = {"apple", "banana", "cherry"}
#### Question: Remove "banana" from the set without causing an error if it's not there.
#### Hint: Use a method that doesnâ€™t complain.

In [28]:
s = {"apple", "banana", "cherry"}
s.discard("banana")

#### Q.5 Data: a = {"lion", "tiger"}, b = {"tiger", "leopard"}
#### Question: Which animals are common in both sets?
#### Hint: Find the intersection.

In [34]:
a = {"lion", "tiger"}
b = {"tiger", "leopard"}
a.intersection(b)

{'tiger'}

#### Q.6 Data: s = {"one", "two", "three"}
#### Question: Remove a random element from the set and return it.
#### Hint: There's only one method that gives and takes at the same time.

In [40]:
s = {"one", "two", "three"}
s.pop()
print(s)

{'two', 'one'}

#### Q.7 Data: s = {"car", "bike", "bus"}
#### Question: Remove all elements from s.
#### Hint: Use a method that makes the set empty.

In [44]:
s = {"car", "bike", "bus"}
s.clear()

In [46]:
print(s)

set()

#### Q.8 Data: colors = {"red", "green"}, more_colors = {"blue", "yellow"}
#### Question: Add all colors from more_colors into colors.
#### Hint: Use a method that modifies the set in-place with multiple values.

In [58]:
colors = {"red", "green"}
more_colors = {"blue", "yellow"}
colors.union(more_colors)

{'blue', 'green', 'red', 'yellow'}

#### Q.9 Data: a = {"x", "y"}, b = {"x", "y", "z"}
#### Question: Check if a is a subset of b.
#### Hint: Is everything in a also in b?

In [62]:
a = {"x", "y"}
b = {"x", "y", "z"}
a.issubset(b)

True

#### Q.10 Data: main_set = {"python", "java", "c++"}
#### Question: Try adding the value "python" again. What happens?
#### Hint: Sets avoid duplication.

In [74]:
main_set = {"python", "java", "c++"}
main_set.add("python")

In [76]:
print(main_set)

{'python', 'c++', 'java'}

#### Q.11 Data: x = {"hello", "hi", "hey"}, y = {"hi", "hola"}
#### Question: Keep only elements in both x and y inside x.
#### Hint: Use an in-place intersection.

In [80]:
x = {"hello", "hi", "hey"}
y = {"hi", "hola"}
x.intersection(y)

{'hi'}

#### Q.12 Data: languages = {"english", "french", "spanish"}
#### Question: Safely remove a non-existing value "german".
#### Hint: Avoid remove() to prevent error.

In [88]:
languages = {"english", "french", "spanish"}
languages.discard("Telugu")

#### Q.13 Data: a = {"A", "B", "C"}
#### Question: Make a duplicate of a into a new set b.
#### Hint: You need to clone it.

In [92]:
a = {"A", "B", "C"}
b = a.copy()
print(b)

{'A', 'B', 'C'}

#### Q.14 Data: x = {"a", "b"}, y = {"b", "c"}, z = {"c", "d"}
#### Question: Find all elements across the three sets without repetition.
#### Hint: Combine all of them into one.

In [99]:
x = {"a", "b"}
y = {"b", "c"}
z = {"c", "d"}
x.union(y, z)

{'a', 'b', 'c', 'd'}

#### Q.15 Data: set_1 = {"ant", "bee", "cat"}, set_2 = {"dog", "bee", "cat"}
#### Question: What animals are only in set_1 or set_2, but not in both?
#### Hint: Symmetric difference is your friend.

In [107]:
set_1 = {"ant", "bee", "cat"}
set_2 = {"dog", "bee", "cat"}
set_1.symmetric_difference(set_2)

{'ant', 'dog'}

# DICTIONARIES

#### Q.16 Data: info = {"name": "Alice", "age": 28}
#### Question: Add "city": "Paris" to this dictionary.
#### Hint: Use assignment with a new key.v

In [114]:
info = {"name": "Alice", "age": 28}
info.update({"city": "Paris"})
print(info)

{'name': 'Alice', 'age': 28, 'city': 'Paris'}

#### Q.17 Data: record = {"math": 80, "science": 90}
#### Question: Update the score in math to 85.
#### Hint: Direct assignment is enough.

In [119]:
record = {"math": 80, "science": 90}
record.update({"math":85})

In [121]:
print(record)

{'math': 85, 'science': 90}

#### Q.18 Data: grades = {"John": 75, "Jane": 88}
#### Question: Remove "Jane" from the dictionary and get her score.
#### Hint: Use the method that returns the value on deletion.

In [129]:
grades = {"John": 75, "Jane": 88}
grades.pop("Jane")

88

#### Q.19 Data: config = {"mode": "dark", "timeout": 30}
#### Question: Safely fetch the value for "language" without error.
#### Hint: Use .get() with a default.

In [133]:
config = {"mode": "dark", "timeout": 30}
config.get("language")

In [135]:
config

{'mode': 'dark', 'timeout': 30}

#### Q.20 Data: user = {"username": "abc", "status": "active"}
#### Question: List all the keys in this dictionary.
#### Hint: Think .keys().

In [145]:
user = {"username": "abc", "status": "active"}
user.keys()

dict_keys(['username', 'status'])

#### Q.21 Data: user = {"username": "abc", "status": "active"}
#### Question: List all values in the dictionary.
#### Hint: Use .values().

In [149]:
user = {"username": "abc", "status": "active"}
print(user.values())

dict_values(['abc', 'active'])

#### Q.22 Data: user = {"username": "abc", "status": "active"}
#### Question: Show both keys and values together.
#### Hint: Pairs? Think .items().

In [153]:
user = {"username": "abc", "status": "active"}
print(user.items())

dict_items([('username', 'abc'), ('status', 'active')])

#### Q.23 Data: book = {"title": "1984", "author": "Orwell"}
#### Question: Check if the key "publisher" exists in book.
#### Hint: Use the in keyword.

In [161]:
book = {"title": "1984", "author": "Orwell"}
"publisher" in book

False

#### Q.24 Data: data = {"a": 1, "b": 2}, extra = {"c": 3}
####  Question: Merge extra into data.
#### Hint: .update() brings more data in.

In [167]:
data = {"a": 1, "b": 2}
extra = {"c": 3}
data.update(extra)

In [169]:
print(data)

{'a': 1, 'b': 2, 'c': 3}

#### Q.25 Data: d = {"x": 10, "y": 20}
#### Question: Clear all entries from d.
#### Hint: Use the method that deletes everything.

In [173]:
d = {"x": 10, "y": 20}
d.clear()
print(d)

{}

#### Q.26 Data: d = {"x": 10, "y": 20}
#### Question: Copy this dictionary into a new one.
#### Hint: Use .copy().

In [177]:
d = {"x": 10, "y": 20}
e = d.copy()
print(e)

{'x': 10, 'y': 20}

#### Q.27 Data: student = {"name": "Zara", "score": 95}
#### Question: Provide a default gender as "female" only if not present.
#### Hint: Think of .setdefault()

In [185]:
student = {"name": "Zara", "score": 95}
student.setdefault("gender","female")
print(student)

{'name': 'Zara', 'score': 95, 'gender': 'female'}

#### Q.28 Data: values = [("a", 1), ("b", 2)]
#### Question: Convert this list of pairs into a dictionary.
#### Hint: Use the dict() constructor

In [188]:
values = [("a", 1), ("b", 2)]
dict(values)

{'a': 1, 'b': 2}

#### Q.29 Data: words = ["apple", "banana", "apple"]
#### Question: Manually build a dictionary showing how many times each word occurs.
#### Hint: You'll need to use repeated assignments â€” no loops, so do it step by step.

In [204]:
words = ["apple", "banana", "apple"]
word_count = {}
word_count["apple"] = 1
word_count["banana"] = 1
word_count["apple"] += 1
print(word_count)

{'apple': 2, 'banana': 1}

#### Q.30 Data: d = {"one": "apple", "two": "banana", "three": "carrot"}
#### Question: Count how many values contain the letter "a".
#### Hint: Manually check each value â€” no loops allowed.

In [243]:
d = {"one": "apple", "two": "banana", "three": "carrot"}
count = ("a" in d["one"]) + ("a" in d["two"]) + ("a" in d["three"])
print(count)

3