## Q.1 How many characters are in the string "Python3"?

In [18]:
word = "Python3"
print(len(word))

7

## Q.2 If text = " Hello World ", what does len(text) return?

In [23]:
text = " Hello World "
print(len(text))

13

-- 13 is the output of len(text)

## Q.3 Count the length of " " (a space character). Is it 0?

In [32]:
space_count = " "
print(len(space_count))

1

-- no 1 is the len of " "

## Q.4 Convert "Good Morning" to uppercase. What do you get?

In [40]:
Wishes = "Good Morning"
print(Wishes.upper())

GOOD MORNING

-- All characters are convert it into uppercase

## Q.5 What is "HELLO".lower()?

In [44]:
print("HELLO".lower())

hello

-- Note :- all characters are convert it into small characters by using lower() method

## Q.6 If msg = "PyThOn", what will msg.upper() and msg.lower() return?

In [48]:
msg = "PyThOn"
print(msg.upper())
print(msg.lower())

PYTHON
python

- msg.upper() method is getting the all characters are converted it into upper
- msg.lower() method is getting the all characters are converted it into lower`

## Q.7 What happens if you use .upper() on "123abc!"?

In [55]:
string_number = "123abc!"
print(string_number.upper())

123ABC!

-- All small alphabetic characters are converted it into uppercase

## Q.8 What does "hello world".capitalize() return?

In [59]:
print("hello world".capitalize())

Hello world

-- staring of the letter converted it into capital and the rest of the characters are small

## Q.9 Convert "hello world from python" to title case.

In [63]:
Sentence = "hello world from python"
print(Sentence.title())

Hello World From Python

## Q.10 Will "JAVA".capitalize() return "Java" or "JAVA"?

In [66]:
word = "JAVA"
print(word.capitalize())

Java

-- It returns "Java"

## Q.11 What’s the difference between "hello world".title() and "hello world".capitalize()?

In [70]:
print("hello world".title())
print("hello world".capitalize())

Hello World
Hello world

- "hello world".title() it returns every starting word of the characters convert it into capital
- "hello world".capitalize() it returns starting of the characters convert it into capital and the rest of the characters are small

## Q.12 Count how many 'o' are in "hello, world!".

In [82]:
string_word = "hello, world!"
print(string_word.count('o'))

2

-- 2 '0' characters are there in "hello, world!" word

## Q.13 Given quote = "Practice makes perfect", how many times does 'p' appear?

In [88]:
quote = "Practice makes perfect"
print(quote.count('p'))

1

-- only 1 'p' is appear in "Practice makes perfect"

## Q.14 What is "Mississippi".count('s')?

In [94]:
print("Mississippi".count('s'))

4

-- 4 's' are repeated in "Mississippi" word

## Q.15 What does "banana".count("na") return?

In [98]:
print("banana".count("na"))

2

-- 2 "na" are repeated in "banana"

## Q.16 What is the position of 'e' in "elephant" using .find()?

In [102]:
animal = "elephant"
print(animal.find("e"))

0

-- 0 is the position of 'e' in elephant

## Q.17 Use .find() to locate 'z' in "puzzle" — what index is returned?

In [106]:
word = "puzzle"
print(word.find("z"))

2

-- 2 is the index of "z" in "puzzle"

## Q.18 What happens if .find() doesn’t find the character?

- actully by using .find() method it returns the position of each characters. 
- if .find() method doesn't find the character it will return -1 value

## Q.19 How does index() behave differently from find() when the item isn’t found?

- while using index() method if the item isn't found it will throws an error which is "Substring is not found".
- while using find() method if the item isn't found it doesn't throw an error but it will return -1 value

## Q.20 What does "hello".index("e") return?

In [126]:
print("hello".index("e"))

1

-- 1 is the index position of "e" in the given word

## Q.21 Combine "Hello" and "World" into "HelloWorld".

In [132]:
str1 = "Hello"
str2 = "World"
str3 = str1 + str2
print(str3)

HelloWorld

## Q.22 Use + to add "Hi, " and "Alice" together.

In [135]:
print("Hi, " + "Alice")

Hi, Alice

## Q.23 What is the result of "Age: " + str(25)?

In [138]:
print("Age: " + str(25))

Age: 25

## Q.24 Can you concatenate "abc" and "123" to form "abc123"?

In [147]:
str1 = "abc"
str2 = "123"
print(str1.join(str2))

1abc2abc3

-- No we can't concatenate "abc" and "123" to form "abc123"

## Q.25 Replace "dog" with "cat" in "The dog barks.".

In [151]:
Stc1 = "The dog barks."
print(Stc1.replace("dog","cat"))

The cat barks.

## Q.26 Given msg = "rain rain go away", replace 'rain' with 'sun'.

In [154]:
msg = "rain rain go away"
print(msg.replace("rain", "sun"))

sun sun go away

## Q.27 What happens when you replace 'a' with '@' in "banana"?

In [157]:
fruit = "banana"
print(fruit.replace("a","@"))

b@n@n@

## Q.28 How do you replace spaces with hyphens in "join the party"?

In [160]:
stc1 = "Join the party"
print(stc1.replace(" ", "-"))

Join-the-party

## Q.29 What does " hello ".strip() return?

In [163]:
print(" hello ".strip())

hello

-- while using .strip() method it will remove the white spaces before starting of the word and ending of the word

## Q.30 Remove # from both ends of "###Welcome###" using strip().

In [168]:
str1 = "###Welcome###"
print(str1.strip("#"))

Welcome

## Q.31 Does strip() remove characters from the middle of a string?

-- No strip() method it doesn't remove middle of the characters from a string

## Q.32 How do you remove only the trailing spaces from "Hello "?

In [174]:
word = "Hello "
print(word.rstrip())

Hello

-- By using .rstrip() method we can remove trailing spaces from the end of the word

## Q.33 Use .format() to insert "Alice" into "Hello, {}!".

In [178]:
word = "hello,{}!"
print(word.format("Alice"))

hello,Alice!

## Q.34 What is "{} scored {} marks".format("John", 95)?

In [184]:
print("{} scored {} marks".format("John", 95))

John scored 95 marks

## Q.35 Fill in two blanks in "{} is {} years old" with "Bob" and 30.

In [187]:
sentence1 = "{} is {} years old"
print(sentence1.format("Bob",30))

Bob is 30 years old

## Q.36 Can you use numbers with placeholders? Try "{}+{}={}".format(2, 3, 5).

In [194]:
S_word = "{}+{}={}"
print(S_word.format(2,3,5))

2+3=5

-- Yes we can use numbers with placeholders

## Q.37 What does "apple,banana,grape".split(",") return?

In [199]:
print("apple,banana,grape".split(","))

['apple', 'banana', 'grape']

## Q.38 How many parts do you get from "one two three".split()?

In [202]:
print("one two three".split())

['one', 'two', 'three']

-- getting the three parts from "one two three"

## Q.39 Use split("-") on "2025-05-16". What do you get?

In [206]:
print("2025-05-16".split("-"))

['2025', '05', '16']

-- getting three individual parts from the given date

## Q.40 Can you split "hello" using a space as a separator?

In [210]:
print("hello".split(" "))

['hello']

-- No

## Q.41 Take " python " and return "PYTHON" with whitespace removed ?

In [216]:
str = " python "
str1 = str.strip()
str2 = str1.upper()
print(str2)

PYTHON

## Q.42 Format and print "Score: 100" using .format() ?

In [223]:
str = "Score: {}"
print(str.format(100))

Score: 100

## Q.43 Convert "python is fun" to "Python Is Fun" using any method.

In [226]:
Given_word = "python is fun"
converted_word = Given_word.title()
print(converted_word)

Python Is Fun

## Q.44 Replace all 'l' in "hello world" with '*'.

In [231]:
given_word = "hello world"
new_word = given_word.replace("l","*")
print(new_word)

he**o wor*d

## Q.45 How do you get just the word "World" from "Hello World"?

In [234]:
given_word = "Hello world"
get_word = given_word.split()[1]
print(get_word)

world

In [236]:
given_word = "Hello world"
print(given_word[6:])

world