### Q.1 Print Your Name 5 Times
### Write a for loop to print your name 5 times using range().

In [9]:
name = "Python"

for names in range(5):
    print(name)

Python
Python
Python
Python
Python

### Q.2 Count to 10
### Use a for loop and range() to print numbers from 1 to 10.

In [14]:
for numbers in range(1,11):
    print(numbers , end = " ")

1 2 3 4 5 6 7 8 9 10

### Q.3 Even Steps
### Print all even numbers from 2 to 20 using range(start, stop, step)

In [21]:
for even_numbers in range(2, 20, 2):
    print(even_numbers, end = " ")

2 4 6 8 10 12 14 16 18

### Q.4 Backward March
### Print numbers from 10 to 1 using a reverse range().

In [32]:
for reverse_numbers in range(10,0,-1):
    print(reverse_numbers , end = " ")

10 9 8 7 6 5 4 3 2 1

### Q.5 Letters in a Word
### Given a word = "HELLO", print each letter using a for loop with range() and len().

In [47]:
word = "HELLO"

for characters in range(len(word)):
    print(word[characters], end = " ")

H E L L O

### Q.6 Index This!
### Given a list = [5, 10, 15, 20], print each value along with its index using range() and len().

In [68]:
list1 = [5, 10, 15, 20]

for value_index in range(len(list1)):
    print(value_index ,list1[value_index])

0 5
1 10
2 15
3 20

### Q.7 Repeat the Pattern
### Print the pattern * five times, one in each line.

In [81]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### Q.8 Step Skip
### Use range() to print every 3rd number from 3 to 30.

In [88]:
for step_skip in range(3,30,3):
    print(step_skip, end = " ")

3 6 9 12 15 18 21 24 27

### Q.9 Square Roots
### Print the square of each number from 1 to 5 using a for loop.

In [95]:
for square_root in range(1,6):
    print(square_root ** 2, end = " ")

1 4 9 16 25

### Q.10 Sum Show
### Use range() and a loop to add numbers from 1 to 10 and print the total.

In [104]:

total = 0
for add_numbers in range(1,11):
    
    total += add_numbers

print(total)

55

### Q.11 Spelling Bee
### Given a word from the user, print each letter on a new line using len() and range().

In [115]:
user_input = input("Enter a word: ")

for slipt_word in range(len(user_input)):
    print(user_input[slipt_word])

Enter a word:  sudheer

s
u
d
h
e
e
r

### Q.12 Countdown to Launch
### Print a countdown from 5 to 1, followed by "Lift Off!".

In [128]:
for light_indicator in range(5,0,-1):
    print(light_indicator," - light off")

5  - light off
4  - light off
3  - light off
2  - light off
1  - light off

### Q.13 Roll Call
### Given a list of 5 student names, print them one by one using a loop.

In [131]:
list_of_students = ["Sudheer", "Sai", "Nagesh", "Uday", "Jayavardhan"]
for students in list_of_students:
    print(students)

Sudheer
Sai
Nagesh
Uday
Jayavardhan

### Q.14 Repeat After Me
### Ask the user to enter a sentence and print it letter by letter.

In [136]:
user_sentence = input("Enter something: ")

for split_sentence in range(len(user_sentence)):
    print(user_sentence[split_sentence])

Enter something:  my self sudheeer kumar

m
y

s
e
l
f

s
u
d
h
e
e
e
r

k
u
m
a
r