# Lists

## list Creation & Indexing

### 1.Create a list of 5 fruits. print the third fruit ?

In [7]:
fruit_list = ["banana", "Orange", "Grapes", "papaya", "guava"]
Third_fruit = fruit_list[2]
print(Third_fruit)

Grapes

### 2.Given colors = ["red", "blue", "green"] replace "blue with "yellow" using indexing ?

In [10]:
Given_colors = ["red", "blue", "green"]
Given_colors[1] = "yellow"
print(Given_colors)

['red', 'yellow', 'green']

### 3.Print the last element of the list x = [10, 20, 30, 40,] using negative indexing ?

In [15]:
x = [10, 20, 30, 40]
Negaive_indexing_value = x[-1]
print(Negaive_indexing_value)

40

### 4.Create a list with a single string: "python".Convert it to a list of characters ?

In [34]:
list1 = ["python"]
list2 = list(list1[0])
print(list2)

['p', 'y', 't', 'h', 'o', 'n']

### 5.From the list a = ['a', 'b', 'c', 'd'], create a new list with only the first and last elements ?

In [68]:
a = ['a', 'b', 'c', 'd']
b = a[0],a[2]
#c = list(b)
print(c)

['a', 'c']

## List methods: append(), insert()

### 6.Create an empty list and append 3 strings into it, one by one.

In [76]:
Empty_list = []
Empty_list.append("pytho")
Empty_list.append("sql")
Empty_list.append("excel")
print(Empty_list)

['pytho', 'sql', 'excel']

### 7.Insert "apple" at the beginning of the list fruits = ["banana", "mango"]

In [99]:
fruits = ["banana", "mango"]
fruits.insert(0, 'apple')
print(fruits)

['apple', 'banana', 'mango']

### 8.Given nums = [1, 2, 4] ,insert 3 between 2 and 4

In [107]:
nums = [1, 2, 4]
nums.insert(2,3)
print(nums)

[1, 2, 3, 4]

### 9.Append a list [4,5] to x = [1,2,3] Obseve the structure of x.

In [110]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

### 10.Insert a list[4,5] into x = [1,2,3] at index1. what does the final list look like ?

In [113]:
x = [1,2,3]
x.insert(1,[4,5])
print(x)

[1, [4, 5], 2, 3]

## List methods : extend() vs append()

### 11. Create two lists and merge them using extend() ?

In [119]:
list1 = ["Python", "sql", "excel"]
list2 = [1,2,3]
list1.extend(list2)
print(list1)

['Python', 'sql', 'excel', 1, 2, 3]

## 12. What's the difference between using x.append(y) and x.extend(y)?

- The difference between x.append(y) and x.extend(y) lies in how add elements to the list x:
- x.append()
- adds the entire object y as a single elements at the end of the list.
- Ex :- x = [1,2]
-       x.append([3,4])
-       print(x)
-x.extend(y)
- iteres over y and adds each elements of y to list individually
- Ex :- x = [1,2]
-       x.extend([3,4])
-       print(x)

### 13.Given a = [1,2] and b = [3,4] apply both a.append(b) and a.extend(b) seperately.Observe the result.

In [126]:
a = [1,2]
b = [3,4]
a.append(b)
print(a)

[1, 2, [3, 4]]

- b is added as a single element(a nested list)

In [128]:
a.extend(b)
print(a)

[1, 2, [3, 4], 3, 4]

- The elements of b are added individually to the end of a

## List methods: remove(), pop(), clear()

### 14. Given items = ["pen", "book", "eraser"], remove "book" ?

In [137]:
items = ["pen", "book", "eraser"]
items.remove("book")
print(items)

['pen', 'eraser']

### 15.pop the last element from x = [10, 20, 30,40] and print the popped value ?

In [141]:
x = [10, 20,30,40]
x.pop()
print(x)

[10, 20, 30]

### 16.Remove the element at index 1 in names = ['john', 'Jane', 'Jake'] ?

In [150]:
names = ['john', 'Jane', 'Jake']
names.remove('Jane')
print(names)

['john', 'Jake']

### 17.Clear all items from cities = ['delhi', 'mumbai', 'chennai'] using one method ?

In [153]:
cities = ['delhi', 'mumbai', 'chennai']
cities.clear()
print(cities)

[]

### 18. Try removing an element that doesn't exist in the list. What happens?

In [156]:
l1 = [1,2,3,4]
l1.remove(5)
print(l1)

ValueError: list.remove(x): x not in list

# List methods: count(), index()

### 19.Count how many times 0 appears in a = [0, 1, 0, 2, 0, 3]

In [162]:
a = [0, 1, 0, 2, 0, 3]
a.count(0)

3

### 20.Find the index of 'cat' in the list an animals = ['dog', 'cat', 'mouse']`

In [165]:
animals = ['dog', 'cat', 'mouse']
animals.index('cat')

1

### 21. Try finding the index of an item that appears multiple times . which index is returned ?

In [172]:
a = [0, 2, 2, 0, 2]
index_postion = a.index(2)
print(index_postion)

1

### 22.use .count() to check if a value exists in the list or not(returns 0 or more)

In [175]:
a = [1,2,3,4,5,5]
a.count(6)

0

# List Methods: copy() vs Assignment

### 23. Create a list a, and assign it to b. Modify b and see if a is affected. ?

In [187]:
a = ["python", "Java", "C#"]
b = a 
a.append("C")
print(a)
print(b)

['python', 'Java', 'C#', 'C']
['python', 'Java', 'C#', 'C']

### 24.Create a list a, copy it into b using .copy(). Modify b and check a.

In [190]:
a = ["python", "java", "C#"]
b = a.copy()
a.append("C")
print(a)
print(b)

['python', 'java', 'C#', 'C']
['python', 'java', 'C#']

# List methods: sort() and reverse()

### 25.Sort x = [5,3,9,1] in ascending order ?

In [195]:
x = [5, 3, 9, 1]
x.sort()
print(x)

[1, 3, 5, 9]

### 26.Reverse the order of elements in x = [10, 20,30] ?

In [207]:
x = [10, 20, 30]
x.reverse()
print(x)

[30, 20, 10]

### 27. Sort names = ['Alice', 'Bob', 'Charlie'] in reverse albhabetical order ?

In [216]:
names = ['Alice', 'Bob', 'Charlie']
names.sort(reverse = True)
print(names)

['Charlie', 'Bob', 'Alice']

### 28. Try sorting a list with mixed types: [1,'two', 3]. What happens?`

In [220]:
types = [1, 'two', 3]
types.sort()
print(types)

TypeError: '<' not supported between instances of 'str' and 'int'

# Slicing and Sub-list Creation

### 29.From x = [10, 20, 30, 40, 50] print only the middle 3 values ?

In [224]:
x = [10, 20,30,40,50]
y = x[1:4]
print(y)

[20, 30, 40]

### 30.Reverse a list using slicing(without .reverse()) ?

In [229]:
x = [10,20,30,40,50]
y = x[::-1]
print(y)

[50, 40, 30, 20, 10]

### 31.from a = [100, 200, 300, 400, 500] create a new list containing every second element ?

In [232]:
a = [100, 200, 300, 400, 500]
b = a[::2]
print(b)

[100, 300, 500]

# Nested Lists

### 32. Create a nested list = [['a', 'b'], [1, 2]] and print 'b'

In [246]:
nested_list = [['a', 'b'], [1, 2]]
print(nested_list[0][1])

b

### 33.from the list data = [['jan', 100], ['feb' , 200]]

In [250]:
data = [['jan', 100], ['feb', 200]]
print(data[0][0], data[1][0])

jan feb

### 34.Append a new inner list to data = [[1,2], [3, 4]].print the result

In [253]:
data = [[1, 2],[3, 4]]
data.append([5, 6])
print(data)

[[1, 2], [3, 4], [5, 6]]

### 35.Access the second element of the second inner list in nested = [[10, 20], [30, 40]]

In [256]:
nested = [[10, 20], [30, 40]]
print(nested[1][1])

40